.home-banner-container {
    position: relative;
    margin-bottom: 3rem;
}
.home-banner-container .home-banner-video video {

    min-width: 100%;
    min-height: 100%;
}
.home-banner-container .home-banner-video {
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.video-frame {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-width: 100%;
}
.video-frame img {
    width: 100%;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(178,191,204,0.6);
}

.home-banner-hinter {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.home-banner-hinter a{
    display: block;
    width: 50px;
    height: 50px;

}



.content {
    margin-right: 10rem;
}

.articles-container {
    width: 70rem;
    margin: 0 auto;
}


.articles-container article {
    padding: 4.5rem 0;
}

.articles-container article h2 {
    margin: 0;
}

.articles-container article:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
}

.articles-container article .post-date {
    color: #5c6b72;
}

